
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.stats-wrapper{
    /* background-color: #e00000;
     */
     background-image: url(./../../assets/firewatch-4.0.jpg);
    background-size: cover; 
    background-position: center;
    min-height: 100vh;
    position:relative;
}

.main-info{
    position: absolute;
    height:700px;
    box-shadow:0 0 5px rgba(255, 255, 255, 0.984);
    background: transparent;
    backdrop-filter: blur(80px);
    width:500px;
    margin-top: 90px;
    margin-left:40px;
    border-radius: 20px;

}
.main-stats{
    position: absolute;
    box-shadow:0 0 5px rgba(255, 255, 255, 0.984);
    background: transparent;
    backdrop-filter: blur(80px);
    height:700px;
    width:810px;
    margin-top: 90px;
    margin-left:560px;
    border-radius: 20px;

}
.avatarBox{
    box-shadow:0 0 5px rgba(237, 237, 237, 0.984);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.407); 
    height:400px;
    width:400px;
    margin:50px;
    border-radius: 20px;
}
.userAvatar{

    position: absolute;
    height:395px;
    width:395px;
    margin:2px;
    border-radius: 20px;
}

.userInfo{
    box-shadow:0 0 5px rgba(237, 237, 237, 0.984);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height:170px;
    /* background-color: rgba(0, 0, 0, 0.2);  */
    /* background-color: rebeccapurple; */
    width:400px;
    margin-top:480px;
    margin-left: 50px;
    border-radius: 20px;
    transition: transform 0.3s ease;

}

.stats{
    text-align: center;
    position: relative;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.336); 
    /* border: 1px solid rgb(252, 236, 236); */
    box-shadow:0 0 5px rgba(237, 237, 237, 0.984);
    transition: transform 0.5s ease;
    font-family: "Outfit", sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 2px rgb(255, 255, 255); 

    color:rgb(235, 239, 243);
    font-size: 25px;

}
.k_d{
    position: absolute;
    height:290px;

    width:180px;
    margin-top:50px;
    margin-left: 30px;
    border-radius: 20px;
}
.av_headshots{
    position: absolute;
    height:290px;
    width:180px;
    margin-top:50px;
    margin-left: 220px;
    border-radius: 20px;
}

.total_headshots{
    position: absolute;
    height:290px;
    width:180px;
    margin-top:50px;
    margin-left: 410px;
    border-radius: 20px;
}
.matches{
    position: absolute;
    height:290px;
    width:180px;
    margin-top:50px;
    margin-left: 600px;
    border-radius: 20px;
}



.wins{
    position: absolute;
    height:290px;
    width:180px;
    margin-top:360px;
    margin-left: 30px;
    border-radius: 20px;
}
.win_rate{
    position: absolute;
    height:290px;
    width:180px;
    margin-top:360px;
    margin-left: 220px;
    border-radius: 20px;
}

.current_win{
    position: absolute;
    height:290px;
    width:180px;
    margin-top:360px;
    margin-left: 410px;
    border-radius: 20px;
}
.longest_win{
    position: absolute;
    height:290px;
    width:180px;
    margin-top:360px;
    margin-left: 600px;
    border-radius: 20px;
}


.inputPlayer{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2); 
    height:50px;
    width:350px;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;

}



.inputFaceit{
    position: absolute;
    height:100%;
    width: 100%;
    border-radius: 20px;
    background-color: transparent;
    border:none;
    outline: none;
    padding: 20px 20px 20px 20px;
    font-family: "Outfit", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color:aliceblue;
    border: 1px solid rgb(255, 255, 255);

    box-shadow:0 0 5px rgba(255, 255, 255, 0.984);
    transition: transform 0.3s ease;


}
.inputFaceit::placeholder{
    color: rgba(39, 37, 37, 0.2); 
}
.buttonStats{
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.2);  */
    background-color: transparent;
    height:40px;
    width:40px;
    outline: none;
    top:6px;
    /* border-radius: 20px; */
    margin-left: 360px;
    border:none;
    /* border: 1px solid rgb(255, 255, 255);/ */
    /* box-shadow:0 0 5px rgba(255, 255, 255, 0.984); */
    transition: transform 0.3s ease;
}

.buttonStats:hover{
    
    /* border:none; */
    transform: scale(1.2);

    /* box-shadow:0 0 10px rgba(255, 255, 255, 0.984); */
  
  }
.inputFaceit:hover{
    transform: scale(1.02);

    box-shadow:0 0 10px rgba(255, 255, 255, 0.984);
}

.stats:hover{
    /* box-shadow:0 0 10px rgba(255, 255, 255, 0.984); */
    transform: scale(1.03);

  }
  .userInfo:hover{
    /* box-shadow:0 0 10px rgba(255, 255, 255, 0.984); */
    transform: scale(1.02);

  }

  .favorite-players{
    box-shadow:0 0 5px rgba(237, 237, 237, 0.984);
    position: absolute;
    background: transparent;
    backdrop-filter: blur(80px);
    height:700px;
    width:250px;
    margin-top: 90px;
    margin-left:1390px;
    border-radius: 20px;
    padding: 20px;
   


}
.listOfPlayers{
    position: absolute;
    height:600px;
    width:230px;
    margin-left: -10px;
    padding: auto;
    /* background-color: black; */
    /* background: black; */
    overflow: auto;
    padding: 5px 10px 5px 10px;


}
.favorite-players .title{
    color:aliceblue;
    /* background-color:aqua; */
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    margin-bottom:15px;
    font-family: "Outfit", sans-serif;
}




.playerNickname:hover{
    transform: scale(1.05);

}

.listOfPlayers::-webkit-scrollbar {
    border:none;
    outline: none;
    scrollbar-width: thin; 
    background-color: transparent; 

  }
  
  .listOfPlayers::-webkit-scrollbar-track {
    border:none;
    outline: none;
    background-color: transparent; 

  }
  

  .listOfPlayers::-webkit-scrollbar-thumb {
    border:none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.452); 
    border-radius: 5px;
  }
  

  .listOfPlayers::-webkit-scrollbar-thumb:hover {
    border:none;
    outline: none;
    background-color: rgba(55, 54, 54, 0.452); 

  }

  .iconFaceit{
    position: absolute;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 59px;
    margin-top: 120px;
    /* background-color: black; */
    font-size: 4rem;
    color:aliceblue


  }
  .info{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 70px;
    width: 120px;
    margin-top: 30px;
    margin-left: 30px;
    /* background-color: aqua; */
  }
  .user{
    height: 50px;
    width: 120px;
    justify-content: center;
    margin-left: 30px;
    margin-top: 200px;
    /* background-color: blueviolet; */
    font-family: "Outfit", sans-serif;
    font-weight: 900;

    font-size: 30px;
    color:aliceblue;
    text-shadow: 1px 0px 2px rgb(255, 255, 255); 
    /* box-shadow:0 0 5px rgba(237, 237, 237, 0.984); */
      
}
.userName{
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    /* background-color: blueviolet; */
    justify-content: center;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-weight: 900;

    font-size: 50px;
    color:aliceblue;
    border-radius: 20px;

    text-shadow: 1px 0px 2px rgb(255, 255, 255); 
  
      
}
.playerNickname{
    position: relative;

    height: 50px;
    /* text-align: center; */
    background-color: rgba(0, 0, 0, 0.452); 

    color:aliceblue;
    margin-bottom:10px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 25px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow:0 0 5px rgba(255, 255, 255, 0.984);
}
.dislike{  
    position: absolute;
    background-color: transparent;
    /* background-color: black; */
    border:none;
    top:10px;
    right:10px;
    outline:none;
    height:30px;
    width:30px;
    border-radius: 10px;
    transition: transform 0.8s ease;
  /* z-index: 690; */
  }
  .dislike:hover{  
    
    /* transform: scale(1.05); */
  
  } 
.choosePlayer{
        background-color: transparent;
    /* background-color: rgb(225, 128, 128); */
    border:none;
    outline: none;
    height:100%;
    width: 100%;

}
.hide{
    position: absolute;
    right:10px;
    width: 140px;
    top:10px;
    background-color: transparent;
    /* background-color:rgb(255, 4, 4); */

    overflow: hidden;
    text-align: left;
    
}
.boxForNick{
    position: relative;
     width:160px;
     height: 50px;

    background-color:transparent;
    /* background-color:black; */

  
    padding: 5px 20px 5px 20px;

    color:aliceblue;
    margin-bottom:10px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 22px;
    border-radius: 10px;

}
.dislikeIcon{
    color:white;
    font-size: 1.7rem;
    transition: transform 0.3s ease;

}
.dislikeIcon:hover{
    transform: scale(1.3);

}
.like{
    position:absolute;
    /* background-color: aqua; */
    background-color: transparent;
    height:40px;
    width:40px;
    left:-50px;
    top:4px;
    border-radius: 20px;
    outline: none;
    border:none;
    /* border: 1px solid rgb(255, 255, 255); */
    /* box-shadow:0 0 5px rgba(255, 255, 255, 0.984); */
    transition: transform 0.3s ease;


}
.like:hover{
    transform: scale(1.2);
  
  }

  .likeIcon{
    font-size: 1em;

    height: 100%;
    width: 100%;
    color:rgb(255, 255, 255);
    background-color: transparent;
    /* background-color: rgb(255, 127, 127); */
    /* stroke-width:0px; */

  }

  .findIcon{
     /* background-color: black;  */
    height: 38px;
    width: 36px;
    color:aliceblue;
    font-size: 0.5em;
    stroke-width:30px;

  }