<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <link rel="stylesheet" href="" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faceit API</title>
</head>
<body>
    <div id="blackRectangle">
        <script>
            function showStats() {
                var block = document.getElementById('blackRectangle');
                block.style.height = '610px'
            }

        </script>

        <div id = "logoMain"></div>


        <div id="searchBox">
            <form action="/api/v1/faceit/info" method="get">
                <input type="text" id="nickname" name="nickname" required>
                <input type="submit" value="Enter nickname">
            </form>
        </div>
        <div th:if="${playerInfoAndStats!=null}">
            <script>
                showStats();
            </script>
            <img id="avatar"  th:src="${playerInfoAndStats.playerInfo.items[0].avatarUrl}" alt="avatar" >

        </div>
            <div id="statscheck">
                <div class="playerStat">
                    <div th:if="${playerInfoAndStats!=null}">
                        <span class="statLabel">Nickname:</span>
                        <span class="statValue" id="nicknameValue" th:text="${playerInfoAndStats.playerInfo.items[0].nickname}">-</span>
                    </div>
                 </div> 
                 <div class="playerStat">
                     <div th:if="${playerInfoAndStats!=null}">
                    <span class="statLabel">Country:</span>
                    <span class="statValue" id="country" th:text="${playerInfoAndStats.playerInfo.items[0].country}">-</span>
                     </div>
                </div>

                <div class="playerStat">
                    <div th:if="${playerInfoAndStats!=null}">
                    <span class="statLabel">K/D:</span>
                    <span class="statValue" id="gamesPlayedValue" th:text="${playerInfoAndStats.playerStats.lifetime.averageKDRatio}">-</span>
                    </div>
                </div>

                <div class="playerStat">
                    <div th:if="${playerInfoAndStats!=null}">
                    <span class="statLabel">Games:</span>
                    <span class="statValue" id="averageKDValue" th:text="${playerInfoAndStats.playerStats.lifetime.matches}">-</span>
                    </div>
                </div>
                <div class="playerStat">
                    <div th:if="${playerInfoAndStats!=null}">
                    <span class="statLabel">Win %:</span>
                    <span class="statValue" id="winPercentageValue" th:text="${playerInfoAndStats.playerStats.lifetime.winRate}">-</span>
                    </div>
                </div>

                <div class="playerStat">
                    <div th:if="${playerInfoAndStats!=null}">
                    <span class="statLabel">Headshots %:</span>
                    <span class="statValue" id="headshots" th:text="${playerInfoAndStats.playerStats.lifetime.averageHeadshots}">-</span>
                    </div>
                </div>
                <div class="playerStat">
                    <div th:if="${playerInfoAndStats!=null}">
                    <span class="statLabel">Winstreak total:</span>
                    <span class="statValue" id="maxWins" th:text="${playerInfoAndStats.playerStats.lifetime.longestWinStreak}">-</span>
                    </div>
                </div>
                <div class="playerStat">
                    <div th:if="${playerInfoAndStats!=null}">
                    <span class="statLabel">Winstreak current:</span>
                    <span class="statValue" id="curWins" th:text="${playerInfoAndStats.playerStats.lifetime.currentWinStreak}">-</span>
                    </div>
                </div>
        
                </div>

            </div>

</body>

</html>
